{% extends 'dashboard/dashboard.html' %}

{% load static %}

{% block style_custom %}
<link href="{% static 'assets/plugins/timepicker/bootstrap-timepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css' %}">
{% endblock style_custom %}


{% block action_btns %}
<a href="{% url 'museums' %}" class="pull-right page-title">
    <i class="ti-angle-left"></i> Back
</a>
{% endblock action_btns %}


{% block content %}
<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form.hidden_fields %}
    {{ field }}
    {% endfor %}
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="">
                <div class="row">

                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                            {{ form.name }}
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="{{ form.address.id_for_label }}">{{ form.address.label }}</label>
                            {{ form.address }}
                        </div>

                    </div>

                </div>

                <div class="form-group">
                    <label for="{{ form.cover.id_for_label }}">{{ form.cover.label }}</label>
                    {{ form.cover }}
                </div>

                <div class="form-group">
                    <label for="{{ form.background.id_for_label }}">{{ form.background.label }}</label>
                    {{ form.background }}
                </div>



                <div class="form-group">
                    <label for="{{ form.services.id_for_label }}">{{ form.services.label }}</label>
                    {{ form.services }}
                </div>

            </div>
        </div>
    </div>
    <br/>
    <button type="submit" class="btn btn-success waves-effect waves-light pull-right">CREATE MUSEUM</button>
</form>
{% endblock content %}


{% block script_custom %}
<script src="{% static 'assets/plugins/timepicker/bootstrap-timepicker.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/pages/form-advanced.js' %}"></script>

<script src="{% static 'assets/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js' %}"></script>
<script>
        jQuery(document).ready(function() {
            $('.wysihtml5').wysihtml5();
        });
</script>

{% endblock script_custom %}