{% extends 'dashboard/dashboard.html' %}

{% load static %}

{% block action_btns %}
<a href="{% url 'create-event' %}" class="pull-right page-title">
    <i class="ti-plus"></i> New Event
</a>
{% endblock action_btns %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-body">
                <h4 class="m-b-30 m-t-0">All Events</h4>
                <table id="datatable-responsive"
                                           class="table table-striped table-bordered dt-responsive nowrap"
                                           cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Venue</th>
                                            <th>Category</th>
                                            <th>Type</th>
                                            <th>Privacy</th>
                                            <th>Start date</th>
                                            <th>End date</th>
                                            <th>Status</th>
                                            <th>Description</th>
                                            <th>More</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for event in events%}
                                        <tr>
                                            <td>{{ event.name }}</td>
                                            <td>{{ event.venue }}</td>
                                            <td>{{ event.category }}</td>
                                            <td>{{ event.type }}</td>
                                            <td>{{ event.privacy }}</td>
                                            <td>{{ event.start_date }}</td>
                                            <td>{{ event.end_date }}</td>
                                            <td>{{ event.status }}</td>
                                            <td>{{ event.description }}</td>
                                            <td><a href="{% url 'edit-event' event.id %}">Open this event</a></td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
