{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<div class="join-main">
    <div class="container">

        <div class="login-panel bg-white">
            <section class="">
                <section class="ss-join-section">
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="{% trans 'Change password' %}" />
                    </form>
                    {% endblock %}
                </section>
            </section>
        </div>

    </div>
</div>

