{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
<div class="join-main">
    <div class="container">

        <div class="login-panel bg-white">
            <section class="">
                <section class="ss-join-section">
                    <header class="header-container">
                        <a class="join-header" href="{% url 'index' %}">Museum</a>
                    </header>


                    <div class="account-bg">
                        <div class="">
                            <div class="col-md-12 login-white" style="border-right: none;">

                                {% if validlink %}
                                  <p class="action-info">{% trans "Enter your new password below to reset your password" %}</p>
                                  <form method="post" action="">
                                      {% csrf_token %}
                                      {% for field in form %}
                                        <div class="form-group">
                                            <label class="d-none" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                            {{ field }}
                                            <small class="text-muted eh">{{ field.help_text|safe }}</small>
                                            <script type="text/javascript" >
                                                $("#{{ field.id_for_label }}").attr('placeholder', '{{field.label}}');
                                            </script>
                                        </div>

                                      {% endfor %}
                                      <input type="submit" class="btn-submit" value="{% trans 'Set password' %}" />
                                  </form>
                                {% else %}
                                  Password reset unsuccessful. Please <a href="{% url 'auth_password_reset' %}">try again.</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </div>

    </div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
