{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="join-main">
    <div class="container">

        <div class="login-panel">
            <section class="">
                <section class="ss-join-section">
                    <header class="header-container">
                        <span class="join-header">Email send</span>
                    </header>
                    <div class="account-bg">
                        <div class="login-white less-padding">
                            <p class="action-info">
                                {% blocktrans %}
                                We have sent you an email with a link to reset your password. Please check
                                your email and click the link to continue.
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>

                    <div class="login-modal-footer">
                        <a href="{% url 'index' %}" class="arrow selected-language en">Back Home</a>
                    </div>


                </section>
            </section>
        </div>

    </div>
</div>

{% endblock %}


{# This is used by django.contrib.auth #}
