{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<div class="join-main">
    <div class="container">

        <div class="login-panel">
            <section class="">
                <section class="ss-join-section">
                    <header class="header-container">
                        <a class="join-header" href="{% url 'index' %}">Museum</a>
                    </header>


                    <div class="account-bg">
                        <div class="">
                            <div class="login-white" style="border-right: none;">
                                <p class="action-info">
                                    {% blocktrans %}
                                    Enter your email in the form below and we'll send you instructions for creating a new one.
                                    {% endblocktrans %}
                                </p>
                                <form method="post" action="">
                                    {% csrf_token %}
                                    {% for field in form %}
                                    <div class="form-group">
                                        <label class="d-none" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        {{ field }}
                                        <small class="text-muted">{{ field.help_text }}</small>
                                        <script type="text/javascript" >
                                            $("#{{ field.id_for_label }}").attr('placeholder', '{{field.label}}');
                                        </script>
                                    </div>

                                    {% endfor %}
                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <input type="submit" class="btn-submit" value="{% trans 'Reset password' %}"/>
                                        </div>
                                        <div class="pull-right m-t-3">
                                            <a href="{% url 'auth_login' %}" class="forgot">
                                                {% trans "Back to Log in" %}
                                            </a>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>


                </section>
            </section>
        </div>

    </div>
</div>

{% endblock %}