{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Activation email sent" %}{% endblock %}

{% block content %}

<div class="join-main">
    <div class="container">

        <div class="login-panel">
            <section class="">
                <section class="ss-join-section">
                    <header class="header-container">
                        <span class="join-header">Successfully signed up</span>
                    </header>
                    <div class="account-bg">
                        <div class="login-white less-padding">
                            <p class="action-info">
                                {% trans "Please check your email to complete the registration process." %}
                            </p>
                        </div>
                    </div>

                    <div class="login-modal-footer">
                        <a href="{% url 'index' %}" class="arrow selected-language en">Back Home</a>
                    </div>


                </section>
            </section>
        </div>

    </div>
</div>


{% endblock %}


{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}
